<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="/images/college-student1.jpeg">
        </div>
        <div class="login-form-container">
            <form action="/authentication" method="POST" class="login-form">
                <input type="email" name="email" placeholder="Enter your email id" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <button type="submit">Enter the website</button>
            </form>
            <form action="/register" mehtod="GET">
                <button type="register">Register</button>
            </form>
            <h2>Use this sample email id and password for login</h2>
            <p>email:abc@gmail.com</p>
            <p>password:12345</p>
        </div>
    </div>
</body>
</html>