body{
    /* background-color: red; */
    margin:0px;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
* {
    box-sizing: border-box;
}
.image-container img{
    min-height:100vh;
    max-width:60vw;
}
h2{
    margin-left:1rem;
    color:red;
}
p{
    margin-left:1rem;
    font-size: larger;
    color:white;
}
.login-form-container{
    width:40vw;
    /* padding:2rem; */
    background-color:#1e535f;
}
.login-form{
    display:flex;
    margin-top:5rem;
    flex-direction: column;
}
input{
    height:30px;
    padding:20px;
    margin:1rem;
}
button{
    margin:1rem;
    padding:20px;
    font-size:1.4rem;
}
